<!DOCTYPE html>

<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- mis estilos -->

    <link rel="stylesheet" href="../public/css/Styles.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>


    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">SysDist Miami Software</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <form class="form-inline   d-flex flex-column">
                <div class="form-group mb-2">
                    <label class="sr-only" for="inputName">
                        User Name
                    </label>
                    <input class="form-control form-control-lg" id="inputName" placeholder="username" type="text">
                    </input>
                </div>
                <div class="form-group mx-sm-2 mb-2">
                    <label class="sr-only" for="inputPassword">
                        Password
                    </label>
                    <input class="form-control form-control-lg" id="inputPassword" placeholder="Password" type="password">
                    </input>
                </div>
                <button class="btn btn-primary mb-2 btn-lg" type="submit">
                    Confirm identity
                </button>
            </form>
        </div>
    </nav>
    <main role="main">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-3">
                    SysDist
                </h1>
                <p>
                    Software de Gestion de Distribuidores y Proveedores
                </p>
                <p>
                    <a class="btn btn-primary " href="https://getbootstrap.com/docs/4.0/examples/jumbotron/#" role="button">
                        Documentacion »
                    </a>
                </p>
            </div>
        </div>
    </main>
    <footer class="container">
        <p>
            ©david 2018
        </p>
    </footer>
    <!-- Bootstrap core JavaScript
================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script crossorigin="anonymous" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" src="https://code.jquery.com/jquery-3.2.1.slim.min.js">
    </script>
    <script crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
    </script>
    <script crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
    </script>
</body>

</html>